body {
  font-family: "Montserrat", Arial, sans-serif; /* Use Montserrat as the primary font */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
    45deg,
    #403f67,
    #007f92
  ); /* Linear gradient background */
  border-radius: 0px 0px 18px 18px; /* Rounded corners */
  margin-bottom: 2rem;
  padding: 10px; /* Adjust padding for better spacing */
  color: white; /* Ensure text is readable */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Optional shadow for better visuals */
  height: 124px;
}
.notification-icon {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 5px;
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.location {
  display: flex;
  align-items: start;
  flex-direction: column;
}
.location #location-display {
  font-size: 10px;
}
.form-select {
  padding: 0px !important;
}
.card {
  height: 143px; /* Set a fixed height for all cards */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ensure content is spaced evenly */
  overflow: hidden; /* Prevent content overflow */
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.06); /* Optional shadow */
  border-radius: 12px; /* Rounded corners */
  border: none !important;
}
.card-body {
  padding: 0px !important;
}
.card img {
  border-radius: 12px;
  height: 100px;
}
.card-title {
  font-size: 14px;
  font-weight: 500;
  color: #2c5475;
  margin-top: 10px;
  margin-bottom: 0px !important;
}

@media (max-width: 768px) {
  .category {
    width: 45%;
  }
}

@media (max-width: 480px) {
  header {
    height: 80px;
  }
  .category {
    width: 100%;
  }
}

.footer-wrapper {
  position: fixed;
  height: 75px;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(255, 255, 255);
}
/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background: linear-gradient(
    45deg,
    #403f67,
    #007f92
  ); /* Linear gradient background */
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
  padding: 0px;
  flex-wrap: nowrap;
}

.nav-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border: none;
  background: transparent;
  position: relative;
  transition: all 0.3s ease;
  padding: 0px;
}

.nav-btn div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px; /* Equal width */
  height: 40px; /* Equal height */
  background: transparent; /* Default background */
  border-radius: 50%; /* Ensure the background is circular */
  transition: all 0.3s ease;
  box-sizing: border-box; /* Include padding and border in dimensions */
}

.nav-btn.active div {
  background: linear-gradient(
    45deg,
    #403f67,
    #007f92
  ); /* Gradient background */
  border: 2px solid #fff; /* Optional border */
  width: 40px; /* Ensure width remains consistent */
  height: 40px; /* Ensure height remains consistent */
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-25px); /* Move the button up */
}

.nav-btn i {
  font-size: 1.5rem;
  color: #6c757d;
}

.nav-btn.active i {
  color: white; /* Change icon color to white */
}

.nav-btn span {
  font-size: 0.8rem;
  color: #fff;
}

.nav-btn.active span {
  color: #fff; /* Highlight the text when active */
}

.swiper {
  width: 100%;
  height: 182px;
}
.swiper-wrapper {
  position: relative;
}

.swiper-slide {
  width: 90%;
  position: relative; /* Enable positioning for child elements */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px; /* Rounded corners */
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional shadow */
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.discount-label {
  position: absolute;
  top: 16px;
  left: 16px;
  background: #ffffff3f;
  color: #fff;
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 0.9rem;
  font-weight: 400;
  backdrop-filter: blur(8px); /* Add background blur effect */
  -webkit-backdrop-filter: blur(8px);
}

.categories-header {
  font-size: 16px;
  font-weight: 400;
  color: #344d8d;
  margin-top: 1rem;
}
/* Responsive Navbar for Small Screens */
@media (max-width: 768px) {
  .navbar {
    height: auto; /* Allow the navbar to adjust its height */
    padding-bottom: 2rem; /* Adjust padding for smaller screens */
  }

  .nav-btn {
    font-size: 10px; /* Reduce font size for smaller screens */
  }

  .nav-btn i {
    font-size: 18px; /* Reduce icon size */
  }

  .heart-btn-wrapper {
    width: 60px; /* Adjust size of the heart button wrapper */
    height: 60px;
  }

  .heart-btn {
    width: 50px; /* Adjust size of the heart button */
    height: 50px;
  }

  .heart-btn i {
    font-size: 20px; /* Adjust icon size inside the heart button */
  }
}

@media (max-width: 480px) {
  main {
    margin-bottom: 6rem;
  }
  .navbar {
    height: auto;
    padding-bottom: 0.5rem;
  }

  .nav-btn {
    font-size: 9px; /* Further reduce font size for very small screens */
  }

  .nav-btn i {
    font-size: 16px; /* Further reduce icon size */
  }

  .heart-btn-wrapper {
    width: 48px; /* Further adjust size of the heart button wrapper */
    height: 48px;
  }

  .heart-btn {
    width: 40px; /* Further adjust size of the heart button */
    height: 40px;
  }

  .heart-btn i {
    font-size: 18px; /* Further adjust icon size inside the heart button */
  }
}

/* Splash Screen */
.splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #315e82; /* Background color */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure it appears above all other content */
}

.splash-logo {
  width: 150px; /* Adjust logo size */
  animation: fadeInOut 2s ease-in-out; /* Fade-in and fade-out animation */
}

/* Keyframes for fade-in and fade-out */
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Second Splash Screen */
#splash-screen-2 {
  background-color: #fff; /* Different background color for the second splash screen */
}

.banner {
  position: relative;
  width: 90%;
  height: 192px; /* Adjust height to match the Swiper slides */
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      /* Transparent at the top */ rgba(0, 0, 0, 0.3) /* Black at the bottom */
    ),
    url(../images/banner\ img.png); /* Fallback background color */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: auto;
  border-radius: 12px;
}

.banner-text {
  position: absolute;
  bottom: 20px;
  /* left: 12px; */
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 12px;
}
